@model IEnumerable<fri_pm_music_store.Models.Album>

@{
    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Albums</h2>

<!-- ViewBag - not recommended for lists of data -->
@*<ul>
    @foreach (var a in ViewBag.albums)
    {
        <li>@a.Title</li>
    }
</ul>*@

<ul>
    @foreach (var a in Model)
    {
        <li>@Html.ActionLink(a.Title, "Index")</li>
    }
</ul>
